tqdm~=4.66.5
numpy~=2.0.1
torch~=2.4.1.post302
blobfile~=3.0.0
diffusion~=6.11.0
torchaudio~=2.4.1
attrdict~=2.0.1
torchvision~=0.19.1
pytorch3d~=0.7.7
scikit-learn~=1.5.2
opencv-python~=4.10.0.84
omegaconf~=2.3.0
matplotlib~=3.9.2
mediapy~=1.2.2